.jumbotron-header
{
    padding-bottom: 0.7em;
    padding-top: 0.7em;
}
.green-link
{
    color: darkgreen;
}
.white-font
{
    color: whitesmoke;
}
html, body
{
    margin: 0;
    padding: 0;
}
body
{
    overflow: hidden;
}
.row-wrapper
{
    height: 100vh;
}
.main
{
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
}
.center-div
{
    margin: 0 auto;
    width: 20%;
}
/*flip navbar brand*/
.flip-brand
{
    transform: scale(-1, 1);
}
/*hide scrollbar*/
::-webkit-scrollbar {
    display: none;
}
